@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    border: 3px solid black;
    margin-left: 35%;
    width: 30%;
    justify-content:space-between;
    height: 60%;
    border-radius: 10px;
    margin-top: 50px;


}

.container{
    background-color:rgb(167 243 208);
    align-items:  center;
    text-align:  center;

}

h2{
    align-items:  center;
    color: black;
    font-size: x-large;
    text-align:  center;
    font-weight:bolder;
}
.container-center{
    align-items:  center;

}
 
h3{
    cursor: pointer;
    font-size:  20px;
    justify-content: space-between;
     
}
button{
     
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}
.row{
    margin-top: 20px;
    align-items:center;
    background: white;
    border-radius: 30px;
    display:flex;
    border: top 15px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.add-task{
    border: 2px soild lightsalmon;
    font-size: 15px;
    margin-bottom: 1px;
    outline:none;
    padding: 5px;
    width: 271px;
     
}
.mid{
    display: flex;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#complete-all{
    cursor: pointer;
    margin-left: 10px; 
    font-size: 15px;
    padding: 5px 5px;
       
}
#clear-all{
    cursor: pointer;
    margin-left: 43px; 
    font-size: 15px;
    padding: 5px 5px;
}
.input{
    cursor: pointer;
    display: none;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    width: auto;

}

ul li{
    display: flex;
    align-items:  center;
    justify-content:space-evenly;
    padding: 10px;
    outline: none;
}
.delete-icon{
    display: flex;
    align-items:  center;
    justify-content:flex-end;
    width: 30px;
    height: 30px;
    
}
.save-icon{
    display: flex;
    align-items:  center;
    justify-content:flex-end;
    width: 30px;
    height: 30px;
     
} 
.edit-icon{
    display:flex;
    align-items:  center;
    justify-content:  flex-end ;
    width: 30px;
    height: 30px;
    
}
.edit-icon:not(.active) + button,
.save-icon:not(.active) + button {
  display: none;
}

.Filters{
    margin-top: 20px;

}

.dropdown{
    display: inline-block;
    width: 10px;
    cursor: pointer;
}
.dropbtn{
    background-color: rgb(214 211 209);
    border: none;
    font-weight:normal;
    border-radius: 8px;
    text-align:  center ;
    color:black;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    width: 60px;
    margin-left:initial;
    margin-bottom: 6px;
     
}
.dropdown-content a.active{
    background-color: lightgray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    
}
.dropdown-content a.active:hover {
    background-color: #f5f5f5;
    color: #333;
}
  .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    
    
}
.dropdown-content {
  
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-y:scroll;
    max-height: 200px;
} 
.dropdown-content a:hover {
    background-color: #f5f5f5;
}

.dropdown-content.show {
    display: block;
}  
  
.completed-task{
    display: inline-block;
    margin-left: 80px;

}
.remaining-task{
    display:  inline-block;
    margin-left: 45px;

}

 