@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightblue;
    border: 2px solid black;
    margin-left: 35%;
    width: 30%;
    justify-content:space-between;
    height: auto;
    border-radius: 3px;
    margin-top: 50px;


}

.container-center{
    align-items:  center;
    text-align:  center;
}

h2{
    align-items:  center;
    color: blue;
    margin-top: 10px;
    font-size: large;
    text-align:  center;
    font-weight:  bold;
}
.container-center{
    align-items:  center;

}
h3{
    cursor: pointer;
    font: size 10px;
     
}
button{
    background: lightgreen;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}
.row{
    align-items:  center;
    background: white;
    border-radius: 20px;
    display:flex;
    grid-template-columns:auto;
    margin-bottom: 20px;
    padding-left: 20px;
}
.mid{
    display: flex;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#complete-all{
    cursor: pointer;
    margin-left: 10px; 
    padding: 10px 10px;   
}
#clear-all{
    cursor: pointer;
    margin-left: 90px;
    padding: 10px 10px;
}
li{
    display: flex;
    align-items:  center;
}
.delete-icon{
    display: flex;
    align-items:  center;
    justify-content:  center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.save-icon{
    display: flex;
    align-items:  center;
    justify-content:  center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.edit-icon{
    display:inline-flex;
    align-items:  center;
    justify-content:  center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.Filters{
    margin-top: 20px;

}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn{
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
}
.dropdown-content{
    background-color:  white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    display: none;
    min-width: 140px;
    position:  absolute;
    z-index: 1;
}
.completed-task{
    display: inline-block;
    margin-left: 100px;

}
.remaining-task{
    display:  inline-block;
    margin-left: 80px;

}

#total-task{
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 2px;
}
 